page-event-details-view {
    .wrapper{
        text-align: center;
        left: 30%;
    }
        

    .button{
        margin-right: 25px;
        margin-left: 25px;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        }

    .content{

    }

    .img {
        text-align: center;
        
    }
}
