<ion-content class="login-content" scroll="no" padding>
  
  <div class="login-box">
    <form (submit)="doLogin()">
      <ion-list inset>

        <ion-img style="background: transparent; height: 200px; width: 255px !important;" src="assets/img/logo.png"></ion-img>

        <h2 class="signIn" color="primary">Sign in</h2>
        <ion-item>
          <ion-input placeholder="email" type="text" [(ngModel)]="account.email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input placeholder="password" type="password" [(ngModel)]="account.password" name="password"></ion-input>
        </ion-item>

        <div class="passItem" tappable (click)="togglePass()">
          <ion-row>
            <ion-icon color="primary" style="font-size:1.3em;" [name]="passIcon()"></ion-icon> 
            <div class="passRem">
              remember password
            </div>
          </ion-row>
        </div>



        <div padding>
          <ion-button (click)="volunteerDashboard()" class="signIn" expand="full" [disabled]="isLoading">
            <div *ngIf="isLoading">
                <ion-spinner name="bubbles"></ion-spinner>
            </div>
            <div *ngIf="!isLoading">
              Login</div>
            </ion-button>
        </div>



      </ion-list>
    </form>

    <p (click)="openRegisterPage()" class="registerText">
        Don't have an account?
      </p>
  </div>

</ion-content>
