<!--
  Generated template for the UserApplicationViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Applications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item text-wrap no-lines [color]="getItemColor(item)" *ngFor="let item of applicationList">
        <div (click)="viewEvent(item)">
          <p class="activity_summary" *ngIf="sortTitle == subs">
           <b>Event: </b> {{item.event.name}}
          </p>
          <p>
            <b>Date: </b> {{item.event.date}}
          </p>
        </div>
        <button *ngIf="getFeedbackButton(item)" item-right color="light" ion-button (click)="giveFeedback(item)">{{'Feedback'}}</button>
      </ion-item>
</ion-list>
</ion-content>
